.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  word-break: keep-all;

  td,
  th {
    vertical-align: top;
    padding: 5px 10px;
    text-align: left;
    border: 1px solid $text-color;
  }

  th {
    font-weight: 700;
  }

  tfoot {

    td[colspan] {
      border-bottom: 0;
      border-left: 0;
    }
  }
}