.additional {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;

  &__list {
    counter-reset: section;
    margin-bottom: 10px;
  }

  &__item {

    &::before {
      counter-increment: section;
      content: counter(section) '. ';
    }
  }

  &__text {

    & + & {
      margin-top: 5px;
    }
  }
}