.received-from {
  margin-bottom: 30px;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &__title {
    @include subtitle;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &__address {
    font-size: 16px;
    line-height: 20px;
  }
}