html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@at-root {

  @viewport {
    width: device-width;
  }
}

body {
  margin: 0;
  word-break: break-word;
  background-color: $bg-color;
  font-family: $font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
