// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #282f33;
$text-color--lighter: #66828f;
$text-color--lightest: #d5dadd;

$bg-color: #ffffff;
$bg-color--shade: #f7fafc;
$bg-color--dark: $text-color;

$primary-color: #ff790e;

// Semantic colors
$success: #16c98d;
$warning: #ffc83f;
$danger: #fa5e5b;

// Fonts
$font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

$font-family--monospace: menlo, monaco, consolas, 'Liberation Mono',
  'Courier New', nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);
$transition-timing: cubic-bezier(0.9, 0.01, 0.01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.44, 1);

@mixin subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

@mixin title {
  font-size: 39px;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}
